.label,
.title-bar,
.description {
  -fx-font-family: "Poppins";
}

.label.title,
.title-bar {
  -fx-font-size: 14;
  -fx-font-weight: bold;
}

.label.detail-title {
  -fx-font-size: 36;
  -fx-font-weight: bold;
}

.label.subtitle {
  -fx-font-size: 12;
  -fx-opacity: 0.5;
}

.label.detail-subtitle {
  -fx-font-size: 14;
  -fx-opacity: 0.5;
}

.label.title {
  -fx-font-size: 18;
}

.description {
  -fx-font-size: 22;
}
